params {

    // directories containing input data
    fastqc_dir = "$baseDir/data/test/fastq"

    genome_fasta = "$baseDir/data/test/genome/GCF_000004515.6_Glycine_max_v4.0_genomic.fna.gz"
    genome_gtf = "$baseDir/data/test/genome/GCF_000004515.6_Glycine_max_v4.0_genomic.gtf.gz"

    config_profile_name        = 'Imperial config'
    config_profile_description = 'Additional parameters for the imperial RCS'
}

process {
    withLabel:star_index {
        executor = "pbspro"
    }
    withLabel:star_align {  
        executor = "pbspro"
    }
    withLabel:short {  
        executor = "local"
    }
    withLabel:long {  
        executor = "local"
    }
}

executor {
    $pbspro {
        queueSize = 5
    }
}

env {
    NXF_OPTS = '-Xms1g -Xmx4g'
    NXF_TEMP = "$TMP"
    NXF_WORK = "$TMP/work"
}

singularity {
    enabled = true
    autoMounts = false
    runOptions = "-B $baseDir/data/,$HOME/3_nextflow_pipeline_results,$TMP/work,$TMP/:/tmp,$VAR/tmp/:/var/tmp/"
}
