params {

    // save results in HOME 
    outdir = "/rds/general/user/$USER/home/3_nextflow_pipeline_results"

    // directories containing input data
    fastqc_dir = "$baseDir/data/fastq"

    genome_fasta = "$baseDir/data/genome/GCF_000004515.6_Glycine_max_v4.0_genomic.fna.gz"
    genome_gtf = "$baseDir/data/genome/GCF_000004515.6_Glycine_max_v4.0_genomic.gtf.gz"

    config_profile_name        = 'Imperial config'
    config_profile_description = 'Additional parameters for the imperial RCS'
}

process {
    withLabel:star_index {
        executor = "pbspro"
        cpus   = 2
        memory = { check_max( 32.GB   * task.attempt, "memory"  ) }
        time   = { check_max( 180.m   * task.attempt, "time"    ) }
    }
    withLabel:star_align {  
        executor = "pbspro"
        cpus   = 2
        memory = { check_max( 16.GB   * task.attempt, "memory"  ) }
        time   = { check_max( 180.m   * task.attempt, "time"    ) }
    }
    withLabel:short {  
        executor = "local"
        cpus   = 1                                           
        memory = { check_max( 1.GB    * task.attempt, "memory"  ) }
        time   = { check_max( 30.m    * task.attempt, "time"    ) }
    }
    withLabel:long {  
        executor = "local"
        cpus   = 1                                           
        memory = { check_max( 4.GB    * task.attempt, "memory"  ) }
        time   = { check_max( 120.m   * task.attempt, "time"    ) }
    }
}

executor {
    $pbspro {
        queueSize = 7
    }

    $local {
        queueSize = 4
    }
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = "-B /rds/,/rds/general/user/$USER/home/,/rds/general/user/$USER/ephemeral/tmp/:/tmp,/rds/general/user/$USER/ephemeral/tmp/:/var/tmp"
}
