params {
  config_profile_name        = 'Imperial config'
  config_profile_description = 'Additional parameters for the imperial RCS'
}

process {
    executor = "pbspro"
}

executor {
  $pbspro {
    queueSize = 10
  }
}

env {
  NXF_OPTS = '-Xms1g -Xmx4g'
  NXF_TEMP = "$TMP"
  NXF_WORK = "$TMP/work"
}

singularity {
    enabled = true
    autoMounts = false
    runOptions = "-B $baseDir/data/,$HOME/3_nextflow_pipeline_results,$TMP/work,$TMP/:/tmp,$VAR/tmp/:/var/tmp/"
}
