// run a minimal test
// nextflow main.nf -profile test,docker

params {

    // directories containing input data
    fastqc_dir = "data/test/"
    genome_dir = "data/genome/"

    // set CI/local cpus, memory, time
    max_memory                 = '10.GB'
    max_cpus                   = 1
    max_time                   = '1.h'
}
