// minimal test settings
// nextflow main.nf -resume -profile test,docker

params {

    // directories containing input data
    fastqc_dir = "data/test/"
    genome_dir = "data/genome/"

    // STAR options
    sparse_d = 3

    // set CI/local cpus, memory, time
    max_memory                 = '12.GB'
    max_cpus                   = 2
    max_time                   = '4.h'
}
