// minimal test settings
// nextflow main.nf -resume -profile test,docker

params {

    // directories containing input data
    fastqc_dir = "data/fastq/"
    genome_fasta = "data/genome/GCF_000004515.6_Glycine_max_v4.0_genomic.fna.gz"
    genome_gtf = "data/genome/GCF_000004515.6_Glycine_max_v4.0_genomic.gtf.gz"

    // STAR options
    sparse_d = 3

    // set CI/local cpus, memory, time
    max_memory                 = '12.GB'
    max_cpus                   = 2
    max_time                   = '4.h'
}
